.photo-details-modal {
  background-color: white;
  box-shadow: 0 0 0 50vmax rgba(0,0,0,.5);
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -40%);
  height: 80%;
  width: 55%;
  overflow-y: scroll;
  border-radius: 12px;
}

.photo-details-modal__close-button {
  background-color: white;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 16px;
  margin-top: 16px;
}

.photo-details-modal__images {
  margin-left: 36px;
  margin-top: 8px;
}

.photo-details-modal__image {
  max-width: 95%;
  border-radius: 8px;
}

.photo-details-modal__top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 16px;
  margin-top: 8px;
  align-items: center;
}



.photo-details-modal__photographer-details {
  display: flex;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;

}

.photo-details-modal__header {
  font-size: 18px;
  font-weight: 500;
  color: #1e1e1e;
  margin-top: 24px;
  margin-bottom: 24px;
  width: 90%;
}


.photo-details-modal__photographer-name {
  height: 20px;
  font-size: medium;

}


.photo-details-modal__photographer-location {
  max-width: 350px; /* Adjust width as needed */
  white-space: nowrap; /* Prevent wrapping */
  color: #838383;
  font-size: medium;

}



.photo-details-modal__photographer-profile {
  object-fit: cover;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 8px;
  width: 40px;
  height: 40px;
}

.photo-details-modal__photographer-info {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 12px;
  margin-left: 8px;

}


.similar-photos {
  margin-top: 10px;
  padding-right: 50px;
  

  h2 {
    margin-top: 40px;
    margin-bottom: 16px;
    margin-left: 10px;
    font-size:xx-large;
  }

  /* Display related photos in a column layout */
  display: flex;
  flex-direction: column;
  gap: 16px; /* Space between each related photo item */
  
  li {
    list-style: none;
    display: flex;
    align-items: center; /* Vertically align the photo and details */
    gap: 16px; /* Space between the photo and photographer details */

    justify-content: space-evenly;
  }
}

.photo-details-modal__photographer-details {
  display: flex;
  align-items: center; /* Ensure items are vertically centered */
  font-size: 16px;
  margin-top: 20px;
  margin-left:20px;
}

.photo-details-modal__photographer-info {
  margin-top: 0; /* Remove top margin for better alignment */
  font-weight: 700;
  font-size: 12px;
 
}

.photo-details-modal__image {
  max-width: 95%;
  border-radius: 8px;
}

/* Styling for the related photo images */
.similar-photos .photo-details-modal__image {
  max-width: 300px;
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px;
}
.photo-details-modal__image-container {
  position: relative; /* Makes the container the reference point for absolute positioning */
  display: inline-block; /* Ensures the image fits within the container */
}


